@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/CerebriSans-Light.eot);
  src: url(../fonts/Cerebri-Sans/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.eot);
  src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.eot);
  src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  background: #0e1b46 url("../images/background.png") -400px -600px no-repeat;
  color: #fff;
}

header {
  padding: 16px 0;
  margin-bottom: 130px;
}

header img {
  max-width: 164px;
}

h1,
h2 {
  font-family: Cerebri Sans;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}

p {
  font-family: Cerebri Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}

p a {
  color: #fff;
  text-decoration: underline;
}

.company-logos {
  margin: 30px 0;
  display: block;
  max-width: 380px;
}

.program img {
  height: 96px;
  margin-bottom: 10px;
}

.program p {
  padding: 16px 0;
}

.program-price {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.program-price:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

.program-price span {
  border-top: 1px solid #4a5573;
  font-family: PT Mono;
  line-height: 20px;
  font-size: 14px;
  padding-top: 10px;
}

.program-price strong {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

.program-emojis {
  font-size: 32px;
  line-height: 120%;
  margin: 30px 0 10px;
}

.program-link {
  font-size: 12px;
  line-height: 20px;
  font-family: "PT Mono", monospace;
  display: block;
  text-decoration: underline;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.program-link:hover {
  text-decoration: none;
  background: #fff;
  color: #11193c;
  padding: 0 0 0 5px;
  border-radius: 2px;
}

.youtube-channel {
  margin-top: 80px;
}

.youtube-channel a {
  font-size: 16px;
}

.title {
  font-size: 64px;
  line-height: 81px;
  padding-right: 60px;
  font-weight: bold;
  margin-bottom: 140px;
  letter-spacing: -17px;
}

.title u {
  background: url("../images/border.png") 0 52px no-repeat;
  /* border-bottom: 20px solid #275ce1; */
  /* position: relative; */
  text-decoration: none;
  letter-spacing: 0;
}

.title span {
  margin-right: 16px;
}

footer {
  margin-top: 100px;
  padding: 20px 0;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
}

footer p a {
  text-decoration: none;
}

footer li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}

footer li a {
  font-family: Cerebri Sans;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}

footer li a:hover {
  opacity: 1;
  color: #fff;
}
